{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/venues/{{venue.id}}/edit">
      <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>  
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', id=form.genre, autofocus = true) }}
      </div>
      
      <div class="form-group">
        <label for="image">Image Link</label>
        {{ form.image_link(class_ = 'form-control', placeholder='http://', id=form.image, autofocus = true) }}
      </div>

    
      <div class="form-group">
        <br>
          <label for="facebook">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', id=form.facebook, autofocus = true) }}
      </div>
      

      <div class="form-group">
        <br>
          <label for="website">Website Link</label>
          {{ form.website_link(class_ = 'form-control', placeholder='http://', id=form.facebook, autofocus = true) }}
      </div>
      

      <div class="form-group">
          <br>
          <input type="checkbox" id="seeking_talent">
          <label for="seeking_talent">Please check if you are currently seeking talent</label>
          <br>
      </div>
  
      <div class="form-group">
        <label for="seeking_description">Your message for the new talents</label>
        <textarea name="seeking_description" id="" cols="60" rows="6" placeholder="write your message"> </textarea>
      </div>

      
      <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}