{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}

		<li style = 'width:480px'>

			<div class="btn-class"></div>

			<h5> <i class="fas fa-music"></i> 
				<a style='color: black;' href="/venues/{{ venue.id }}">{{ venue.name }} </a>
				<a href="/venues/{{ venue.id }}/edit" class="btn btn-warning " type="reset"  style= 'float:right; margin-right:36px; padding: 4px 20px;'>Edit</a>
				<a href="/venues/{{ venue.id }}/delete" class="btn btn-danger " type="reset"  style= 'float:right; margin-right:36px; padding: 4px 20px;'>Delete</a> 
			    
			</h5>	
		</li>
		 <br>
		{% endfor %}
	</ul>

{% endfor %}
{% endblock %}
			
